<h2>Atahuala Guard</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        Buscar por Nombre
    </li>
    <li class="list-group-item" routerLink="departamento" routerLinkActive="active">Buscar por Departamento</li>
    <li class="list-group-item" routerLink="visitas" routerLinkActive="active">Visitas</li>
    <li class="list-group-item" routerLink="configuracion" routerLinkActive="active">Configuración</li>
</ul>